$def with(src)

<!DOCTYPE html PUBLIC "-html>
<head>
    <title>DogApp</title>
    <br/><center>
    <h1 style=font-size:75px;color:black> Dog App!</h1>
    </center>
</head><body>
<center>
<br/><br/><br/><br/>
<h2>This is my dog app!!</h2>
<br/>
<h4> It scans a photo and detects on it either a dog or a human.
<br/>If it detects a dog it predicts its breed among 133 diferent breeds.
<br/>If it detects a human... it tells you his/her resemblance to a dog breed.
<br/><br/>So.... upload your photo!
</h4>
<br/><br/>
<form method="POST" enctype="multipart/form-data" action="">
<input type="file" name="myfile" />
<br/>
<input type="submit" />
</form>
</center>
<br><br><br><br><br><br>
<h5 style=color:purple> Any photo you upload will be used <b>only<b/> to produce a prediction/resemblance.<br/>
  After that your photo will be immediately deleted. No data of any form is kept by this application.
</h5>
</body></html>
